<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="${title}">Spring Core MVC</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen">
    <header th:replace="fragments/header :: header">
    </header>
    
    <main class="flex-grow">
        <!-- Đánh dấu vị trí sẽ gắn view component content vào view layout -->
        <div class="main-content" layout:fragment="content">
        </div>
    </main>

    <footer th:replace="fragments/footer :: footer">
    </footer>
</body>

</html>